.LoginPageBg {
    background: linear-gradient(0deg, rgba(64, 48, 61, 0.479), rgba(64, 48, 61, 0.479)), url(../Media/loginPageBg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}